.icon-clock { background-image: url(../images/colorized/clock.gif); }
.icon-start { background-image: url(../images/colorized/time_start.png); }
.icon-pause { background-image: url(../images/colorized/time_pause.png); }
.icon-stop { background-image: url(../images/colorized/time_stop.png); }

.icon-action {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center left;
    width: 100%;
    height: 0;
    padding-left: 12px;
}
.icon-action:hover { cursor: pointer; }

.time-not-running {
    background-image: url(../images/colorized/time.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center left;
    padding-left: 14px;
    cursor: default;
}

a#time-logger-menu {
    cursor: default;
    text-decoration: none;
}

span#time-logger-menu > a { margin-right: 4px; }
span#time-logger-issue-id { margin-left: 4px; }

.icon-start-action { background-image: url(../images/colorized/start.png); }
.icon-pause-action { background-image: url(../images/colorized/pause.png); }
.icon-stop-action { background-image: url(../images/colorized/stop.png); }
.icon-list-action {
    background-image: url(../images/colorized/list.png);
    margin: 0 !important;
}

div#tl-timer-wrapper {
    display: inline-flex;
    margin: 0 10px 0 2px;
}
/* use the one below if you want the time logger in the bottom oon it's own
#time-logger-menu { position:fixed; bottom:0px; right:8px; background:black; padding:1em; }
*/

#time-logger-admin td.start-date, #time-logger-admin td.spent-time, #time-logger-admin td.msg { text-align: center; }
#time-logger-admin td.user, #time-logger-admin td.issue { text-align: left; }
#time-logger-admin p.msg { text-align: center; }

#status-transition-list { margin-bottom: 10px; }
#status-transition-list td.zombie { font-style: italic; }
#status-transition-list td.msg { text-align: center; }

#settings form[action="/settings/plugin/time_logger"] > div + div { display: none }

/* Hack to remove the div opened by redmine before rendering the plugin settings partial */